.idea/
*.pyc
backend/data/history/
backend/static/
backend/data/save/
backend/templates/

# dependencies
frontend/node_modules
# testing
frontend/coverage
frontend/src/testData/
# production
frontend/build
# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/.idea/*